.addIngredientsButton {
    padding: 8px 15px;
    background-color: var(--off-white);
    border-radius: var(--large-radius);
    border: var(--gray-border);
}

.addIngredientsButton:hover {
    cursor: pointer;
}