.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.cardHeader > svg {
    color: rgb(185, 20, 20);
}

.cardHeader > svg:hover {
    cursor: pointer;
    color:rgb(160, 21, 21);
}