.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.cardHeader > svg {
    color: var(--warning-color);
}

.cardHeader > svg:hover {
    cursor: pointer;
    color:var(--warning-color-dark);
}