.recipeControls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.recipeControls > img {
    width: auto;
    height: auto;
    max-height: 32vh;
    border-radius: var(--chat-radius);
    box-shadow: var(--card-box-shadow);
}