.recipeDescription {
    width: 60%;
    overflow: scroll;
    padding: 15px;
    background-color: var(--main-color-light);
    box-shadow: inset 0px 0px 4px #7ca58f;
    border-radius: var(--chat-radius);
    text-align: left;
}