.cartItem {
    padding: 10px 20px;
    margin: 10px 30px;
    border-radius: var(--large-radius);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgb(183, 235, 207);
}

.cartItem:hover {
    cursor: pointer;
}

.cartItem > svg {
    color: var(--warning-color);
}

.cartItem > svg:hover {
    color:var(--warning-color-dark);
}