.cartContents {
    width: 100%;
    height: 100vh;
}

.cartList {
    overflow: scroll;
    background-color: var(--main-color-light);
    border-radius: var(--small-radius);
    height: 61vh;
    width: 100%;
    padding: 10px 0;
    box-shadow: var(--list-shadow);
}