.recommendedRecipe {
    background-color: rgb(245, 245, 245);
    height: 150px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    padding: 8px 12px;
    border-radius: 8px;
    box-shadow: var(--card-box-shadow);
}

.recommendedRecipe:hover {
    cursor: pointer;
}