.recommendedRecipe {
    background-color: var(--off-white);
    height: 140px;
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 0 8px 15px;
    padding: 8px 12px;
    border-radius: 8px;
    overflow: hidden;
    background-image: url("../../../images/gyros.jpg");
    box-shadow: var(--card-shadow);
    background-size: cover;
}

@media only screen and (max-width: 1000px) {
    .recommendedRecipe {
        margin: 8px 15px;
    }
}

.recommendedRecipe:hover {
    cursor: pointer;
}

.recommendedRecipe > h3 {
    color: var(--off-white);
    text-shadow: 1px 0 2px rgb(50, 50, 50)
}

.recommendedRecipe > img {
    transform: scale(0.4, 0.4);
    border-radius: var(--small-radius);
}